

  <div class="oj-flex" style="width: 100%">
    <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-6 oj-lg-7 oj-xl-7">
      <div class="oj-flex-item oj-panel">
        <h2>Departments</h2>
        <div>
          <oj-data-grid
            id="depDatagrid"
            style="height:200px; max-width:600px"
            aria-label="Data Grid CRUD Demo"
            data="[[deptDataSource]]"
            on-selection-changed="[[handleDepSelectionChanged]]"
            selection-mode.row="single"
            dnd.reorder.row="enable"
            header.column.style="width:45%">
          </oj-data-grid>
        </div>
      </div>
    </div>

    <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
      <div class="oj-flex-item oj-panel">
        <h2>Edit Department</h2>
        <div>
          <oj-form-layout id="dep-form-container" label-edge="top">
            <oj-input-text id="departmentNameInput" label-hint="Department Name" value="{{inputDepartmentName}}"></oj-input-text>
            <oj-input-text id="locationNameInput" label-hint="Location Name" value="{{inputLocationName}}"></oj-input-text>
          </oj-form-layout>
        </div>

        <!-- Buttons -->
        <div class="oj-form-control-group"
                           aria-label="submit group" role="group">
                          <!--oj-button id="addbutton" data-bind="click: add">Add</oj-button-->
                          <oj-button id="updateButton" data-bind="click: updateDep">Update</oj-button>
                          <oj-button id="removeButton" data-bind="click: removeDep">Remove</oj-button>
                        <!--
                          <oj-button id="resetFields" data-bind="click: resetFields">Reset Fields</oj-button>
                        -->
        </div>

      </div>
    </div>
  </div>


  <br>


  <div class="oj-flex" style="width: 100%">
    <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-6 oj-lg-7 oj-xl-7">
      <div class="oj-flex-item oj-panel">
        <h2>Employees</h2>
        <div>
          <oj-data-grid
            id="empDatagrid"
            style="height:200px; max-width:600px"
            aria-label="Data Grid CRUD Demo"
            data="{{empDataSource}}"
            on-selection-changed="[[handleEmpSelectionChanged]]"
            selection-mode.row="single"
            dnd.reorder.row="enable"
            header.column.style="width:45%">
          </oj-data-grid>
        </div>
      </div>
    </div>

    <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
      <div class="oj-flex-item oj-panel">
        <h2>Edit Employee</h2>
        <div>
          <oj-form-layout id="emp-form-container" label-edge="top">
            <oj-input-text id="EmpLastNameInput" label-hint="Last Name" value="{{inputEmpLastName}}"></oj-input-text>
            <oj-input-text id="EmpFirstNameInput" label-hint="First Name" value="{{inputEmpFirstName}}"></oj-input-text>
          </oj-form-layout>
        </div>

        <!-- Buttons -->
        <div class="oj-form-control-group"
                           aria-label="submit group" role="group">
                          <!--oj-button id="addbutton" data-bind="click: add">Add</oj-button-->
                          <oj-button id="updateButton" data-bind="click: updateEmp">Update</oj-button>
                          <oj-button id="removeButton" data-bind="click: removeEmp">Remove</oj-button>

        </div>

      </div>
    </div>
  </div>
